# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Environment Variables ---
.env
.venv
env.ini
.flaskenv

# --- VS Code ---
.vscode/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Ruff/Linters ---
.ruff_cache/
.cache/
