# Web Framework & API
Django>=6.0.4
djangorestframework>=3.17.1

# Authentication
djangorestframework-simplejwt>=5.5.1

# Documentation & Schema
drf-spectacular>=0.29.0

#Filtering
django-filter>=25.2

# Development Tools
ruff>=0.15.12

#Image processing
pillow>=12.2.0

#PostgreSQL
psycopg2-binary>=2.9.9
